<h1>Our amazing</h1>

<div id="catalog-container">
            <!--table id="regTable" class="table table-hover table-dark">
                <thead id="theader">
                    <th>ID</th>
                    <th>Title</th>
                    <th>ImageUrl</th>
                    <th></th>
                </thead>
                <tbody id="tbody"></tbody>
            </table-->

</div>

@section Styles{
    <link href="/css/catalog.css" rel="stylesheet">
}

@section Scripts{
    <script src="/js/catalog.js"></script>
}