@{
    ViewData["Title"] = "ContactUs";
}

<div class="text-center">
    <h1 class="display-4">Contact Us</h1>
    <p>6862540081</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia praesentium iure magnam. Consectetur non, nihil inventore vitae aperiam nam nulla debitis fugiat facere, corporis possimus eaque nostrum! Expedita, reiciendis rem.</p>
</div>
